// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// ---
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

// FONT FAMILY

// Regular font family
$text-font-stack: 'Poppins', 'Open Sans', sans-serif !default;

// Code (monospace) font family
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
	'Monaco', monospace !default;

//  FONT WEIGHT
$font-weigths: (
	'regular': 400,
	'medium': 500,
	'bold': 700,
);

// FONT SIZE
