@use '../utilities/' as *;

// container
.container {
	width: min(100% - 2rem, $max-width);
	margin-inline: auto;
}

figure {
	border: 4px solid var(--secondary);
	border-radius: $bd-radius;
	max-width: $max-width;
	box-shadow: $shadow-lg;
}

//todo section class
section {
	padding: 2rem 0;
}

/* section title */
.section-title {
	text-align: center;
	margin-bottom: 1.2em;
	@include pseudo($loc: after, $top: null, $bottom: -0.5rem) {
		background-color: var(--secondary);
		width: 3em;
		height: 0.25rem;
		margin: 0 auto;
	}
}

// flex center
.flex-row {
	@include flexCenter(row);
}
.flex-column {
	@include flexCenter();
}
// grid center
.center-content {
	display: grid;
	place-content: center;
	height: 100%;
}

.text-center {
	text-align: center;
}

// to use with class nav
ul li + li:before {
	content: ' | ';
	padding: 0 10px;
}
