/**
 * Basic typography style for copy text
 */
@use 'fonts' as f;
@use '../utilities/' as *;

html {
	font-size: 100%;
} /*16px*/

body {
	background-color: $body-bg;
	font-family: f.$text-font-stack;
	@include var(font-weight, 'fw-regular', f.$font-weigths);
	// font-weight: weight(regular);
	line-height: f.$lineheight-body;
	color: $text-color;
}

p {
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: f.$text-font-stack;
	@include var(font-weight, 'fw-bold', f.$font-weigths);
	// font-weight: weight(bold);
	line-height: f.$lineheight-head;
	color: $headline-color;
	// @include var(color, dark, $colors);
}

h1 {
	margin-top: 0;
	@include var(font-size, 'fs-600', f.$type-scale);
}

h2 {
	@include var(font-size, 'fs-500', f.$type-scale);
}

h3 {
	@include var(font-size, 'fs-400', f.$type-scale);
}

h4 {
	@include var(font-size, 'fs-300', f.$type-scale);
}

h5 {
	@include var(font-size, 'fs-200', f.$type-scale);
}

small,
.text_small {
	@include var(font-size, 'fs-50', f.$type-scale);
}
