// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
	@if $self {
		&,
		&:hover,
		&:active,
		&:focus,
		&:focus-within {
			@content;
		}
	} @else {
		&:hover,
		&:active,
		&:focus,
		&:focus-within {
			@content;
		}
	}
}

// Mixin var properties
@mixin var($property, $variable, $vars) {
	#{$property}: map-get($map: $vars, $key: $variable);
	#{$property}: var(--#{$variable});
}

@mixin transition-ease {
	transition: all 0.5s ease-in-out;
}

// responsive media screen
//todo make media query with Kevin Powell ways

@mixin media-md {
	@media screen and (min-width: 768px) {
		@content;
	}
}
@mixin media-lg {
	@media screen and (min-width: 1024px) {
		@content;
	}
}
@mixin media-xl {
	@media screen and (min-width: 1600px) {
		@content;
	}
}

//todo make flex and grid with @mixin

@mixin flexCenter($direction: column) {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-direction: $direction;
}
