// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@use './variables' as v;

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
	@if $self {
		&,
		&:hover,
		&:active,
		&:focus,
		&:focus-within {
			@content;
		}
	} @else {
		&:hover,
		&:active,
		&:focus,
		&:focus-within {
			@content;
		}
	}
}

@mixin btn-hover($h-color: v.$brand-color) {
	&:hover {
		background-color: darken($h-color, 15%);
		@content;
	}
}

// Mixin var properties
@mixin var($property, $variable, $vars) {
	#{$property}: map-get($map: $vars, $key: $variable);
	#{$property}: var(--#{$variable});
}

@mixin transition-ease {
	transition: all 0.5s ease-in-out;
}

/// responsive media screen
/// @author Kevin Powell
@mixin mq($key) {
	$size: map-get(v.$breakpoints, $key);

	@media screen and (min-width: $size) {
		@content;
	}
}

/// center element with flex todo with grid

@mixin flexCenter($direction: column, $gap: 1rem) {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: $gap;
	flex-direction: $direction;
}

/// @mixin with pseudo element =>  https://youtu.be/7ruDsUN4-iA
@mixin pseudo(
	$loc: before,
	$content: '',
	$pos: absolute,
	$top: 0,
	$right: 0,
	$bottom: 0,
	$left: 0
) {
	position: relative;

	&::#{$loc} {
		content: $content;
		position: $pos;
		top: $top;
		bottom: $bottom;
		left: $left;
		right: $right;
		@content;
	}
}
