// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
@use './functions' as f;

/// General style colors
$headline-color: f.color('dark') !default;
$text-color: f.color('gray') !default;
$body-bg: f.color('gray-50') !default;

/// Main Brand Color
$brand-color: f.color(primary) !default;
$secondary: f.color(secondary) !default;
$highlight: f.color(tertiary) !default;
$success: f.color('green') !default;
$red-flag: f.color('red') !default;

/// Container's maximum width
$max-width: 70rem !default;

/// Box Shadow
$clr-shadow: hsla(0, 0%, 0%, 0.1);
$shadow: 0 1px 3px 0 $clr-shadow, 0 1px 2px -1px $clr-shadow;
$shadow-md: 0 4px 6px -1px $clr-shadow, 0 2px 4px -2px $clr-shadow;
$shadow-lg: 0 10px 15px -3px $clr-shadow, 0 4px 6px -4px $clr-shadow;
$shadow-xl: 0 20px 25px -5px $clr-shadow, 0 8px 10px -6px $clr-shadow;

/// border radius
$bd-radius: 0.25rem;
$bd-raduis-md: 0.375rem;
$bd-raduis-lg: 0.5rem;

/// transition
$transition: 0.3s ease-in-out all;

/// Breakpoints map

$breakpoints: (
	'small': 20rem,
	// 320px
	'medium': 48rem,
	//768px
	'large': 64rem,
	//1024px
) !default;
