@use '../utilities/' as *;

/** Info banner */
.alert {
	padding: 0.75rem 1.5rem;
	margin: 1rem 0;
	border-radius: $bd-radius;
	box-shadow: $shadow;

	&-info {
		background: var(--gray-100);
		border: 1px solid var(--secondary);
	}

	&-success {
		background: var(--green-light);
		border: 1px solid var(--green);
	}

	&-danger {
		background: var(--red-light);
		border: 1px solid var(--red-dark);
	}
}
